/* #root {
  max-width: 1280px;
  margin: 0 auto ;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER (TOP FRAME) */
.header {
  position: fixed;        
  left: 0;
  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;

  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1000;
  justify-content: space-between;
}

/* LOGO */
.logo {
  font-size: 40px;
  font-weight: bold;
  color: #f7c600;
  ;
}



/* LOCATION */
.location {
  font-size: 14px;
  line-height: 1.2;
  color: black;
}

/* SEARCH BAR */
.search {
  width: 750px;   
  height: 45px;       
  padding: 6px 10px;     
  border-radius: 10px;
  border: 1px solid ;
  font-size: 14px;
  background-color: #f5f5f5;
}
.cart {
  width: 100px;
  height: 20px;
  padding: 25px 10px;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  background-color: #f5f5f5;
}

/* CONTENT */
.content {
  margin-top: 80px;      
  padding: 20px;
}

.banner{
  margin-top: 90px;
  padding: px;
}

.banner img{
  width: 1520px;
  display: block;
}

.body{
  overflow: hidden;
}

.ban img {
    width: 1520px;
  display: block;

}